<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/r2k9.css">
    <link rel="stylesheet" href="/static/css/treeview.css">
    <link rel="stylesheet" href="/static/fonts/roboto.css">
    <link rel="stylesheet" href="/static/fonts/material-icons/materialicons.css">
    <meta name="viewport" content="initial-scale=1" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body layout="column" ng-app="baseApp" ng-controller="mainController as mainC">
    <md-toolbar layout="row">
        <h1 flex="33" offset="13"><md-icon md-font-library="material-icons" style="font-size: 48px;">gestures</md-icon> ddlCAD</h1>
        <div class="md-toolbar-tools">
            <md-button ng-click="mainC.toggle()" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="/static/img/menu.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="row" flex>

		<!-- sidenav -->
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="padding-left: 22px;">
        <md-list>
          <md-subheader class="md-no-sticky">Main</md-subheader>
          <md-subheader class="md-no-sticky">Debugging</md-subheader>

          <md-list-item>
            <md-button style="text-align:left" ng-click="mainC.activate('main')">
                <md-icon md-font-library="material-icons">code</md-icon> Parse Debugger
            </md-button>
          </md-list-item>

          <md-list-item>
            <md-button style="text-align:left" ng-click="mainC.activate('eval')">
                <md-icon md-font-library="material-icons">storage</md-icon> Eval Debugger
            </md-button>
          </md-list-item>
        </md-list>
        </md-sidenav>

        <!-- line by line container for main content -->
        <div layout="column" flex="99" id="content">

          <md-content layout="column" flex class="md-padding" ng-show="mainC.focus == 'main'" ng-controller="parseDebugController">
              <h1 flex="5">Parse debugger</h1>

              <div layout="row" flex>
                <div layout="column" flex="60">
                  <textarea rows="20" columns="15" id="rawcontent_parse"></textarea>

                  <button ng-click="execute()" flex="8"> <md-icon md-font-library="material-icons">memory</md-icon> Parse</button>
                  <div flex></div>
                </div>

                <div layout="column" flex="89">
                  <div
                      data-angular-treeview="true"
                      data-tree-id="parsetree"
                      data-tree-model="treedata"
                      data-node-id="id"
                      data-node-label="nodeName"
                      data-node-children="children" >
                  </div>
                </div>
              </div>
          </md-content>


          <md-content layout="column" flex class="md-padding" ng-show="mainC.focus == 'eval'" ng-controller="evalDebugController">
              <h1 flex="5">Eval debugger</h1>

              <div layout="row" flex>
                <div layout="column" flex="60">
                  <textarea rows="20" columns="15" id="rawcontent_eval"></textarea>

                  <button ng-click="execute()" flex="8"> <md-icon md-font-library="material-icons">memory</md-icon> Parse</button>
                  <div flex></div>
                </div>

                <div layout="column" flex="89">
                  <div
                      data-angular-treeview="true"
                      data-tree-id="parsetree"
                      data-tree-model="treedata"
                      data-node-id="id"
                      data-node-label="n"
                      data-node-children="children" >
                  </div>
                </div>
              </div>
          </md-content>

        </div>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="/static/js/angular/angular.min.js"></script>
    <script src="/static/js/angular/angular-animate.min.js"></script>
    <script src="/static/js/angular/angular-aria.min.js"></script>
    <script src="/static/js/angular/angular-messages.min.js"></script>
    <script src="/static/js/angular/angular-material.min.js"></script>
    <script src="/static/js/angular/angular-dragdrop.min.js"></script>
    <script src="/static/js/angular/treeview.js"></script>

    <!-- Base App Dependencies -->

    <!-- Module declaration needs to come first -->
    <script src="/static/js/app/baseApp.js"></script>
    <script src="/static/js/app/ddllexer.js"></script>
    <script src="/static/js/app/ddlparser.js"></script>
    <script src="/static/js/app/ddlexec.js"></script>

    <!-- Module peripherals can come after in any order -->
    <script src="/static/js/app/parseDebugController.js"></script>
    <script src="/static/js/app/evalDebugController.js"></script>
    <script src="/static/js/app/mainController.js"></script>

  </body>
</html>
